.battle-image-1, .battle-image-2 {
    border-width: 25px;
    border-style: solid;
    border-radius: 25px;
    width: 400px;
    height: 400px;
}

.battle-button {
    padding: 0px 0px;
    border: 0px;
    background-color: white;
}

.website-title {
    font-family: "Fugaz One", cursive;
    font-size: 350%;
    color: #262626;
}

.container {
    max-width: 1300px;
}

.page-container {
    background-color: white;
    border: 10px solid black;
    border-bottom: 0px;
}

.footer-container {
    background-color: gray;
    border: solid black;
    border-width: 3px 10px 10px 10px;
}

.page-footer {
    margin-top: 10px;
}

.page-content {
    margin-bottom: 20px;
}

body {
    background-color: #041833;
}

html {
    background: transparent;
}