{% extends "charbattler/base.html" %}

{% block content %}

<h1>{{ character.name }}</h1>
<p><img src="{{ character.image.url }}"></p>
<p>Origin: {{ character.origin }}</p>
{% if character.bio %}
<p>{{ character.bio }}</p>
{% else %}
<p>No bio information avaliable.</p>
{% endif %}
{% if character.more_info_url %}
<p>More info on this character: <a href="{{ character.more_info_url }}">{{ character.more_info_url }}</a></p>
{% else %}
<p>No external info link found.</p>
{% endif %}
<ul>
	<li>Total wins: {{ character.total_wins }}</li>
	<li>Total losses: {{ character.total_losses }}</li>
</ul>

{% endblock %}