{% extends "charbattler/base.html" %}
{% block content %}

<h3>Which character would win in a fight?</h3>

<div class="row">

    <form action="{% url 'vote' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="matchup" value={{ matchup.pk }}>
        {% if mix_up_val == 0 %}
            <div class="col-sm-6">
                <button class="battle-button" type="submit" name="winner" value={{ matchup.first_character.pk }}><img src="{{ matchup.first_character.image.url }}" class="battle-image-1">{{ matchup.first_character.name }}</button>
            </div>
            <div class="col-sm-6">
                <button class="battle-button" type="submit" name="winner" value={{ matchup.second_character.pk }}><img src="{{ matchup.second_character.image.url }}" class="battle-image-2">{{ matchup.second_character.name }}</button>
            </div>
            {% else %}
            <div class="col-sm-6">
                <button class="battle-button" type="submit" name="winner" value={{ matchup.second_character.pk }}><img src="{{ matchup.second_character.image.url }}" class="battle-image-1">{{ matchup.second_character.name }}</button>
            </div>
            <div class="col-sm-6">
                <button class="battle-button" type="submit" name="winner" value={{ matchup.first_character.pk }}><img src="{{ matchup.first_character.image.url }}" class="battle-image-2">{{ matchup.first_character.name }}</button>
            </div>
        {% endif %}
    </form>

    {% if messages %}
    {% for message in messages %}
    <p><a href="{% url 'matchup-detail' message %}">Comment on the last matchup</a></p>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}