{% extends "charbattler/base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
        <h3>Which character would win in a fight?</h3>
    </div>
</div>


<div class="row">

{% include "charbattler/matchup_form.html" with matchup=matchup redirect_val='jojo-battler' %}


</div>
<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <p><a href="{% url 'matchup-detail' message %}">Comment on the last matchup</a></p>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}