{% extends "charbattler/base.html" %}

{% block content %}

<h2>The Obscurity Rating System</h2>
<p>The Obscurity Rating System (ORS) is our patented* method of keeping Character Battler fun and interesting.
    Every character is assigned a rating from 0-3, representing how well known they are. </p>
<p>0: Almost universally known characters. These are ones you could ask any random person on the street about and
expect them to know. A universe probably only has one or two of these, if any. Examples: Spongebob, Superman, Mario. </p>
<p>1: Characters that would be known by people with a passing familiarity to the series. People who have heard of the series
or perhaps read/watched/played only part of it. </p>
<p>2: Characters that would be known by people who have read/watched/played all of the media. Think secondary characters. </p>
<p>3: Characters that would only be known by people who have intimate/detailed knowledge of the media. </p>
{% endblock %}